<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let hero of superheroes">
        <div class="card h-100" >
            <img [src]="hero.images.sm" alt="{{ hero.name }}">
            <div class="card-body">
                <h5 class="card-title text-center blue-title">{{ hero.name }}</h5>
                <ul class="list-unstyled">
                    <li>intelligence: <strong>{{ hero.powerstats.intelligence }}</strong></li>
                    <li>speed: <strong>{{ hero.powerstats.speed }}</strong></li>
                    <li>power: <strong>{{ hero.powerstats.strength }}</strong></li>
                    <li>Gender: <strong>{{ hero.powerstats.durability }}</strong></li>
                    <li>Race: <strong>{{ hero.powerstats.durability }}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>